@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@400;500;700&display=swap");

.productCard {
    font-family: "Poppins";
    font-weight: 400;
    cursor: pointer;
}

.productCard,
.addContainer,
.priceContainer,
.productTitle {
    transition: all 0.3s ease-in;
}

.addContainer {
    position: absolute;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
}

.productCard:hover .priceContainer {
    opacity: 0;
    visibility: hidden;
}

.productCard:hover .addContainer {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.saleBg,
.addBtn {
    background-color: #f42c37;
    color: #fff;
}

.productCard:hover .productTitle {
    color: #f42c37;
    font-weight: 700;
}

.productImg {
    width: 100%;
    height: 270px;
}

@media screen and (min-width: 768px) {
    .productImg {
        height: 270px;
        width: 95%;
    }
}

@media screen and (min-width: 1024px) {
    .productImg {
        height: 216px;
        width: 100%;
    }
}
