.postCard,
.postCard img {
    transition: all 0.2s ease-in;
}

.postCard:hover img {
    /* transform: scale(0.96); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media screen and (min-width: 1024px) {
    .postCard img {
        height: 218px;
        width: 100%;
    }
}
