.footer__links {
    transition: all 0.2s ease-in;
}

.footer__links:hover {
    color: #f42c37;
}

.footer__rights {
    /* padding: 1.5% 2%; */
    background-color: #000;
    color: rgba(255, 255, 255, 0.6);
}
